<div class="container text-center">
  <div class="row text-right">
    <div class="col-10">
      <h3 class="h3 mt-3">همکاری‌های والدن</h3>
    </div>
    <div class="col-2 m-auto text-left pl-4">
      <span id="back-arrow" class="cpointer back-arrow">
        <i class="fas fa-arrow-left"></i>
      </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/event-handler.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              مدیریت رویداد
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              برنامه‌ریزی و اجرا
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/programming.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              برنامه‌نویسی نرم‌افزار
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              تحت‌وب و دسکتاپ
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/security.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              امنیت
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              امن کردن کسب‌وکار
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/web-design.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              توسعه‌ی وب
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              برنامه‌نویسی تحت‌وب
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/app.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              توسعه‌ی اپلیکیشن
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              توسعه‌ی اپلیکیشن موبایل
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/data.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              تحلیل داده
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              تحلیل داده
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 col-sm-6">
      <a href="#">
        <div class="card">
          <img
            src="../../../assets/img/branding.svg"
            class="card-img-top img-fluid"
            alt="services"
          />
          <div class="card-body card-padding">
            <h5 class="h5 card-title bold text-center color-dark">
              برندینگ
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              برنامه‌ریزی و اجرا
            </h6>
            <p class="lh-1 color-para al-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="pb-8"></div>
</div>

<script>
  $("#back-arrow").click(function() {
    $("#homepage-main").load("../../pages/layout/honarema-mobile.html");
  });
</script>
