<div class=" fixed-bottom desktop-none" dir="ltr">
  <nav class="tab" data-selected="2">
    <div class="icons">
      <div data-index="1" class="icon"><i class=" fas fa-home"></i></div>
      <div data-index="2" class="icon"><i class="  fas fa-plus"></i></div>
      <div data-index="3" class="icon ">
        <i class=" fas fa-user fa-swap-opacity"></i>
      </div>
    </div>
    <div class="bar">
      <div class="cap"></div>
      <div class="middle">
        <div class="side"></div>
        <div class="circle"></div>
        <div class="side"></div>
      </div>
      <div class="cap"></div>
    </div>
  </nav>
</div>
