<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mt-3 mr-3 ml-3">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../assets/img/peexturLogo.png" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body text-right pl-1 pb-1 pt-1">
        <h5 class="card-title">استارتاپ پیکسچر</h5>
        <p class="card-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
</div>
