<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
  <div class="hero-text mr-7 mobile-align-center">
    <h2 class="h1 bold">توضیحات</h2>
    <p class="">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
      طراحان گرافیک است.
    </p>
    <button
      type="button"
      class="btn btn-outline-primary mt-5 ml-5"
      onclick="window.location.href='pages/honarema'"
    >
      بریم به هنر ما
    </button>
  </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
  <img class="img-fluid hero-img" src="assets/img/hero.svg" alt="" />
</div>
