<div class="container text-center mt-5">
  <span class="d-flex position-absolute dollar-position"
    ><i class="fab fa-android"></i
  ></span>
  <span class="d-flex position-absolute drafting-position"
    ><i class="fas fa-drafting-compass"></i
  ></span>
  <span class="d-flex position-absolute eye-position"
    ><i class="fab fa-python"></i
  ></span>
  <span class="d-flex position-absolute calendar-position"
    ><i class="fas fa-calendar-check"></i
  ></span>
  <span class="d-flex position-absolute mobile-position"
    ><i class="fas fa-mobile"></i
  ></span>
  <span class="d-flex position-absolute js-position"
    ><i class="fab fa-js"></i
  ></span>
  <img
    src="../../assets/img/homePageMobile.svg"
    class="img-fluid width80"
    alt="mobile-header"
  />
</div>
<div class="container mt-5 text-center">
  <h1 class="h1 bold">والدن</h1>
  <p class="lh-1 text-justify-content">
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
    طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
    ابزارهای کاربردی می باشد.
  </p>
</div>
