<nav class="width100">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active text-center bold h6 width50"
      id="nav-home-tab"
      data-toggle="tab"
      href="#nav-home"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >بلاگ</a
    >
    <a
      class="nav-item nav-link text-center bold h6 width50"
      id="nav-profile-tab"
      data-toggle="tab"
      href="#nav-profile"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >هنر ما</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
    ...
  </div>
  <div
    class="tab-pane fade"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="container">
      <div class="row mt-3">
        <div class="col-6">
          <div id="servicesMobileBtn" class="card cpointer">
            <div class="card-body text-center services-card">
              <img
                src="../../assets/img/services.svg"
                class="img-fluid"
                alt=""
              />
              <h5 class="h5 bold mt-3">خدمات ما</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div id="companyMobileBtn" class="card cpointer">
            <div class="card-body text-center company-card">
              <img
                src="../../assets/img/services.svg"
                class="img-fluid"
                alt=""
              />
              <h5 class="h5 bold mt-3">همکاری‌های ما</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div id="projectMobileBtn" class="card cpointer">
            <div class="card-body text-center project-card">
              <img
                src="../../assets/img/services.svg"
                class="img-fluid"
                alt=""
              />
              <h5 class="h5 bold mt-3">پروژه‌های ما</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div id="storyMobileBtn" class="card cpointer">
            <div class="card-body text-center story-card">
              <img
                src="../../assets/img/services.svg"
                class="img-fluid"
                alt=""
              />
              <h5 class="h5 bold mt-3">داستان ما</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div id="contactusMobileBtn" class="card cpointer">
            <div class="card-body text-center contactus-card">
              <h3 class="h3 bold">تماس با ما</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#servicesMobileBtn").click(function() {
    $("#homepage-main").load("../../pages/layout/honarema/servicesMobile.html");
  });
  $("#companyMobileBtn").click(function() {
    $("#homepage-main").load("../../pages/layout/honarema/companyMobile.html");
  });
  $("#projectMobileBtn").click(function() {
    $("#homepage-main").load("../../pages/layout/honarema/projectMobile.html");
  });
  $("#storyMobileBtn").click(function() {
    $("#homepage-main").load("../../pages/layout/honarema/ourStoryMobile.html");
  });
  $("#contactusMobileBtn").click(function() {
    $("#homepage-main").load(
      "../../pages/layout/honarema/contactUsMobile.html"
    );
  });
</script>
