<div class="col-lg-12 col-xl-12 tablet-none m-atuo mt-5" id="services">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/event-handler.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">مدیریت رویداد</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            برنامه‌ریزی و اجرا
          </h6>
          <p class="card-text pb-2">
            مدیریت رویداد‌های شما و این حرفا.....
          </p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/programming.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">برنامه‌نویسی نرم‌افزار</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            تحت‌وب و دسکتاپ
          </h6>
          <p class="card-text pb-2">
            برنامه نویسی نرم افزارهاتون و این کصشرا.....
          </p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/security.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">امنیت</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            امن کردن کسب و کار
          </h6>
          <p class="card-text pb-2">
            امنیت کسب و کار اینترنتی و دادن‌های شما.....
          </p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/web-design.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">توسعه‌ی وب</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            برنامه‌نویسی تحت وب
          </h6>
          <p class="card-text pb-2">
            توسعه‌ی فرانت‌اند و بک‌اند وبسایت شما.....
          </p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/app.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">توسعه‌ی اپلیکیشن</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            توسعه‌ی اپلیکیشن موبایل
          </h6>
          <p class="card-text pb-2">.....</p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/data.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">تحلیل داده</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">تحلیل داده</h6>
          <p class="card-text pb-2">
            مدیریت رویداد‌های شما و این حرفا.....
          </p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body text-right">
          <div class="row pb-3">
            <div class="col-4"></div>
            <div class="col-8">
              <img
                src="../../assets/img/branding.svg"
                class="img-fluid text-left card-img"
                alt=""
              />
            </div>
          </div>
          <h5 class="card-title h5 bold">برندینگ</h5>
          <h6 class="card-subtitle mb-2 text-muted mt-2">
            برنامه‌ریزی و اجرا
          </h6>
          <p class="card-text pb-2">مدیریت برند شما و این حرفا.....</p>
          <a href="#" class="card-link ml-5">درخواست</a>
          <a href="#" class="card-link">مشاوره</a>
        </div>
      </div>
    </div>
  </div>
</div>
