/* ======================
    Reset Css Styles
=======================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================
    General Css Styles
=======================*/

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/Vazir-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body,
html {
  direction: rtl !important;
  font-family: Vazir !important;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address {
  font-family: Vazir !important;
}

.lh-1 {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vazir" !important;
  font-weight: bold;
}

.mr-7 {
  margin-right: 5rem !important;
}

.position-fixed {
  position: fixed;
}

.color-dark {
  color: #212121;
}

.color-para {
  color: #455a64;
}

.bold {
  font-weight: bold !important;
}

.primary-bg-color {
  background-color: #03a9f4 !important;
}

.color-primary {
  color: #03a9f4 !important;
  transition: 0.8s;
}

.color-primary:hover {
  color: #03a9f4 !important;
  transition: 0.8s;
}

.nav-font {
  font-weight: bold;
}

.dir-ltr {
  direction: ltr;
}

.icon-size {
  font-size: 35px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-font-size {
  font-size: 23px;
}

.margin-auto {
  margin: 0 auto;
}

.m-atuo {
  margin: auto;
}

.pt-10 {
  padding-top: 10px;
}

.pd-5 {
  padding: 5%;
}

.color-light {
  color: #eeeeee;
}

.hero-img {
  width: 90%;
  animation: upDown 10s infinite;
}

.active-nav-link:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #000;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 10px;
}

.active-nav-link-honarma:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #03a9f4;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 10px;
}

.nav-shadow-color {
  box-shadow: 0px -5px 7px black;
  background-color: white;
}

@keyframes upDown {
  0% {
    padding-top: 50px;
    margin-right: 40px;
  }
  50% {
    padding-top: 10px;
    margin-right: -20px;
  }
  100% {
    padding-top: 50px;
    margin-right: 40px;
  }
}

.hero-text {
  margin-top: 33% !important;
}

@media only screen and (max-width: 1199.98px) {
  .hero-text {
    margin-top: 30% !important;
  }
}

@media only screen and (max-width: 991.98px) {
  .hero-text {
    margin-top: 20% !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .hero-text {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
  .hero-img {
    width: 100%;
  }
  @keyframes upDown {
    0% {
      padding-top: 30px;
    }
    50% {
      padding-top: 10px;
    }
    100% {
      padding-top: 30px;
    }
  }
  .mr-7 {
    margin-right: 0 !important;
  }
  .mobile-align-center {
    text-align: center !important;
  }
}

.cpointer {
  cursor: pointer;
}

.back-arrow {
  font-size: 20px;
}

.loading {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
}

.loading-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.loading-items > img {
  width: 80px;
}

.twitter:hover,
.twitter:focus {
  color: #55acee !important;
  transition: 0.8s;
}

.telegram:hover,
.telegram:focus {
  color: #0084ff !important;
  transition: 0.8s;
}

.instagram:hover,
.instagram:focus {
  color: #e4405f !important;
  transition: 0.8s;
}

.facebook:hover,
.facebook:focus {
  color: #3b5999 !important;
  transition: 0.8s;
}

.facebook,
.twitter,
.telegram,
.instagram {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}

.logo {
  text-align: center;
}

.logo > img {
  width: 48% !important;
}

.hover-border-honarma:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #03a9f4;
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin-top: 10px;
}

.hover-border-honarma:hover:after {
  width: 100%;
}

.hover-border:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin-top: 10px;
}

.hover-border:hover:after {
  width: 100%;
}

.btn-outline-primary {
  float: left;
  color: #03a9f4;
  border-color: #03a9f4;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.honarema-text {
  color: #03a9f4;
}

.card-text {
  line-height: 1.5;
}

.card-img {
  width: 182px;
  height: 138px;
}

.card {
  height: 100%;
}

.menu-honar {
  position: absolute;
  top: 0%;
  padding: 87px;
  left: -11.9%;
  width: 477px;
}

.btn-link {
  font-weight: bold;
  transition: 0.8s;
}

.btn-link:focus {
  text-decoration: none;
  color: #03a9f4 !important;
  transition: 0.8s;
}

.btn-link:hover {
  text-decoration: none;
  color: #03a9f4 !important;
  transition: 0.8s;
}

.width80 {
  width: 80%;
}

.dollar-position,
.eye-position,
.mobile-position,
.drafting-position,
.calendar-position,
.js-position {
  color: #f1c40f;
}

.dollar-position {
  top: 35%;
  font-size: 30px;
  left: 79%;
}

.drafting-position {
  top: 22%;
  font-size: 30px;
  left: 77%;
}

.eye-position {
  top: 11.5%;
  font-size: 30px;
  left: 69.4%;
}

.calendar-position {
  top: 7.5%;
  font-size: 30px;
  left: 56%;
}

.mobile-position {
  top: 18%;
  font-size: 30px;
  left: 46.5%;
}

.js-position {
  top: 29%;
  font-size: 30px;
  left: 39%;
}

.card-body {
  line-height: 1.4;
}

.dark-color {
  color: #263238 !important;
}

.card-body {
  color: #37474f;
}

.active-icon {
  font-size: 50px;
  width: 50px;
  margin-bottom: 5px;
}

.icon-disable {
  font-size: 30px;
  width: 30px;
  margin-bottom: 5px;
}

/* Nav */

body nav.tab {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 4rem;
}
body nav.tab.moving .icon {
  pointer-events: none;
}
body nav.tab[data-selected="1"] .icon:nth-child(1),
body nav.tab[data-selected="2"] .icon:nth-child(2),
body nav.tab[data-selected="3"] .icon:nth-child(3) {
  top: -1.3rem;
  color: #f1c40f;
  font-size: 2rem;
  transition: 0.25s 0.375s;
  pointer-events: none;
}
body nav.tab[data-selected="1"] .icon:nth-child(1).initialised,
body nav.tab[data-selected="2"] .icon:nth-child(2).initialised,
body nav.tab[data-selected="3"] .icon:nth-child(3).initialised {
  -webkit-animation: hide 0.9s forwards;
  animation: hide 0.9s forwards;
}
body nav.tab[data-selected="1"] .bar .middle .side:first-child,
body nav.tab[data-selected="3"] .bar .middle .side:last-child {
  flex-grow: 0;
}
body nav.tab[data-selected="3"] .icon:nth-child(3).initialised {
  left: 1.8%;
  transition: 0.25s 0.375s;
}
body nav.tab[data-selected="1"] .icon:nth-child(1) {
  left: -1.9%;
  transition: 0.25s 0.375s;
}

body nav.tab .icons {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  width: calc(100%);
  padding: 0 1rem;
}
body nav.tab .icons .icon {
  position: relative;
  top: 0rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition-delay: 0.1875s;
}
body nav.tab .icons .icon.initialised {
  -webkit-animation: hide2 0.375s;
  animation: hide2 0.375s;
}
body nav.tab .bar {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;
  -webkit-filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1))
    drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1))
    drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;
}
body nav.tab .bar .cap {
  background: white;
  width: 1rem;
}
body nav.tab .bar .cap:first-child {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 0.5rem;
  box-shadow: 0.25rem 0 0 white;
}
body nav.tab .bar .cap:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 0.5rem;
  box-shadow: -0.25rem 0 0 white;
}
body nav.tab .bar .middle {
  flex-grow: 1;
  position: relative;
  display: flex;
}
body nav.tab .bar .middle .circle {
  position: relative;
  top: -1.75rem;
  width: 7rem;
  height: 5.75rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Ccircle cx='56' cy='36' r='36' fill='%23FFF'/%3E%3Cpath d='M104 35.2L104 35.2c0 26.3-20.9 48.3-47.2 48.8C29.9 84.4 8 62.8 8 36v-0.8c0-4-3.2-7.2-7.2-7.2H0v64h112V28h-0.8C107.2 28 104 31.2 104 35.2z' fill='%23FFF'/%3E%3C/svg%3E");
}
body nav.tab .bar .middle .side {
  flex-grow: 1;
  background: white;
  transition: 0.75s ease;
}

@-webkit-keyframes hide {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes hide {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes hide2 {
  0%,
  100% {
    opacity: 1;
  }
  15%,
  75% {
    opacity: 0;
  }
}
@keyframes hide2 {
  0%,
  100% {
    opacity: 1;
  }
  15%,
  75% {
    opacity: 0;
  }
}

.services-card {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

.company-card {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

.project-card {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

.story-card {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

.contactus-card {
  background: #e9d362; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333333,
    #e9d362
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}
.card-padding {
  padding: 0.35rem !important;
}
.al-center {
  text-align: justify !important;
  text-align-last: center !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}
